@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Quicksand', sans-serif;
}

@layer utilities {
  dialog::backdrop {
    @apply bg-gray-900/40;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 1.5s ease-in;
  }
}
